services:
  api:
    build: .
    container_name: fifth-time-lucky-api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    environment:
      CELERY_BROKER_URL: amqp://user:password@rabbitmq:5672//
      # any other env your app needs
    depends_on:
      - rabbitmq
    volumes:
      - ./data:/app/data # maps local data/ into container

  worker:
    build: .
    container_name: fifth-time-lucky-worker
    command: celery --app app.workers.app:celery_app worker --loglevel=info
    environment:
      CELERY_BROKER_URL: amqp://user:password@rabbitmq:5672//
    depends_on:
      - rabbitmq
    volumes:
      - ./data:/app/data

  beat:
    build: .
    container_name: fifth-time-lucky-beat
    command: celery --app app.workers.app:celery_app beat --loglevel=info
    environment:
      CELERY_BROKER_URL: amqp://user:password@rabbitmq:5672//
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672" # AMQP
      - "15672:15672" # Web UI
